body{
    width:100%;
    height:100%;
    overflow: hidden;
}
.body {
	width: 100%;
	height: 100%;
    position: absolute;
    background: url("../img/customization/default.jpg") center / cover no-repeat;
    filter: blur(15px);
    z-index: -1;
}


input.input_text{
    border:2px solid rgba(200,200,200,0.5);
    margin: 2px;
    background: rgba(230,230,230,0.5);
}
select.select_{
    background: rgba(230,230,230,0.5);
    margin: 2px;
}
input.input_color{
    background: rgba(230,230,230,0.5);
    margin: 2px;
    width:50px;
    padding: 1px;
    border:1px solid rgba(230,230,230,0.5);
}
div.container_all{
    position: absolute;
    width: 88%;
    left:6%;
    top:3%;
    padding: 1% 0 2% 0;
    border: 1px hidden;
    border-radius: 20px;
    z-index: 6;
    background: rgba(230,230,230,0.6);
    -moz-box-shadow: 5px 5px 3px rgba(136,136,136,0.6); /* 老的 Firefox */
    box-shadow: 5px 5px 3px rgba(136,136,136,0.6);

}
