html, input {
	font-family: "Lucida Sans", "Arial", sans-serif;
}

label {
	vertical-align: middle;
}

.input-name {
	font-weight: bold;
}
.input-rank {
	font-weight: bold;
}

.controls {
	margin-left: 10%;
	margin-right: 10%;
}

.control-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
	border: solid 1px gray;
	border-radius: 3px;
	padding: 3px 5px;
	background-color: #eee;
}

.button:hover {
	background-color: white;
}

.button:active {
	background-color: #ccc;
}

.avatar-image {
	border: none;
	border-radius: 50%;
	vertical-align: middle;
}

.content-preview {
	margin: 10px 10%;
	padding: 10px;
	border: solid 1px gray;
}

.nickname {
	font-size: 9px;
	margin-left: 3px;
	color: grey;
}

.message {
	display: inline-block;
	margin: 3px;
	padding: 10px;
	background-color: rgb(166, 216, 242);
	border-radius: 5px;
}

.avatar-container {
	vertical-align: top;
}

.rank{
	float:left;
	border: 1px hidden;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: #f8c217;
	color:#ffffff;
	font-size:10px;
}

.blank{
	float:left;
}