html, input {
	font-family: "Lucida Sans", "Arial", sans-serif;
}

label {
	vertical-align: middle;
}

.input-name {
	font-weight: bold;
}

.controls {
	margin-left: 10%;
	margin-right: 10%;
}

.control-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
	border: solid 1px gray;
	border-radius: 3px;
	padding: 3px 5px;
	background-color: #eee;
}

.button:hover {
	background-color: white;
}

.button:active {
	background-color: #ccc;
}

.avatar-image {
	border: none;
	border-radius: 50%;
	vertical-align: middle;
}

.content-preview {
	margin: 10px 10%;
	padding: 10px;
	border: solid 1px gray;
}

.nickname {
	font-size: 9px;
	margin-left: 3px;
	color: grey;
}

.message {
	display: inline-block;
	margin: 3px;
	padding: 10px;
	background-color: rgb(166, 216, 242);
	border-radius: 5px;
}

.avatar-container {
	vertical-align: top;
}

.rank {
	border: 1px hidden;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	font-size: 10px;
	vertical-align: middle;
	margin-left: 3px;
}

.blank{
	float:left;
}

.rank-host-yellow {
	background-color: #f8c217;
	color: white;
}

.rank-admin-green {
	background-color: #6ADAA4;
	color: white;
}

.rank-title-red {
	background-color: #FF9A8C;
	color: white;
}

.rank-title-pink {
	background-color: #FF8AC6;
	color: white;
}

.rank-special-purple {
	background-color: #B596EF;
	color: white;
}

.rank-common-blue {
	background-color: #8BBDFE;
	color: white;
}

.frame-container {
	border: 1px solid black;
	padding: 0em 0.5em 0em;
	margin-top: 0.7em;
}

.frame-title {
	width: fit-content;
	margin-top: -0.6em;
	background: white;
	padding: 0px 5px;
}

.CB1{
	  border:3px double;
	  padding: 3px 10px;
	  border-color: #B596EF #6ADAA4;
	  border-radius: 6px 20px;
	  background: #f2ffeb;

  }
.CB2{
	padding: 3px 10px;
	border: 3px groove #6ADAA4;
	border-radius: 10px;
	background: #f2ffeb;

}
.CB3{
	padding: 3px 10px;
	border: 3px ridge;
	border-color: aqua #8BBDFE #FF9A8C #6ADAA4;
	border-radius: 10px;
	background:rgb(166, 216, 242);

}
.CB4{
	padding: 3px 10px;
	border: 3px solid #66ccff;
	border-radius: 10px 10px 5px 5px;
	background: #f2ffeb;

}
.bubble-image{
	border: none;
	vertical-align: middle;
}